<!--<mat-progress-spinner>-->
<!--  <div class="container">&ndash;&gt;-->
<!--        <div class="row">-->
<!--          <div id="loader">-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="loading"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--</mat-progress-spinner>-->
<!--<spinner></spinner>-->
<!--<spinner></spinner>-->
<!--<ng-http-loader spinner="sk-wave"></ng-http-loader>-->
<ngx-loading></ngx-loading>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
