<!--<mat-progress-spinner>-->
<!--  <div class="container">&ndash;&gt;-->
<!--        <div class="row">-->
<!--          <div id="loader">-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="dot"></div>-->
<!--            <div class="loading"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--</mat-progress-spinner>-->
<!--<spinner></spinner>-->
<!--<spinner></spinner>-->
<!--<ng-http-loader spinner="sk-wave"></ng-http-loader>-->
<!--<ngx-loading></ngx-loading>-->
<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#fff"
             type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>></ngx-spinner>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
